<!DOCTYPE html>

{{ partial "head.html" .}}

<body class="oren4 archive category category-biblia-bible category-18">

    <div id="top">
        <div id="masthead">
            <div id="logo">
                <h1 class="sitename"><a href="/" title=""><img class="sitetitle"
                            src="{{"/img/marca_Paulina3.png" | relURL }}"
                            alt="PAULINA PINSKY" /></a></h1>
                <div class="description"></div>
            </div>
        </div>

        {{ partial "menu.html" .}}
        <div class="clear"></div>
    </div>

    <div class="container">
        <div class="container-inner">

            <div class="span-15 colborder home">
                <h3 class="sub">{{ .Params.Title }}</h3>
                <div class="clear"></div>
                <div class="content">

                    {{ range where .Paginator.Pages "Section" "blog" }}
                    <div class="post-2459 post type-post status-publish format-standard has-post-thumbnail hentry category-biblia-bible tag-22">
                        <h2><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Params.title}}">{{ .Params.title}}</a></h2>
                                                
                        <a href="{{ .Permalink }}" title="{{ .Params.link}}">
                            <img src="{{ .Params.image}}" alt="{{ .Params.title}}" class="thumbnail" width="150" />
                        </a>
                        
                        <p> {{.Params.technique_english}} / {{.Params.technique_portuguese}} | {{ .Params.size_of_painting}} | {{ .Params.statement }} </p>
                        
                        
                        <div class="clear"></div>
                        <p class="postmetadata">
                            Categories: {{ range .Params.Categories }} <a href="/categories/{{ . }}" rel="category">{{ . }}</a> {{ end }}
                            | Tags: {{ range .Params.Tags}} <a href="/tags/{{ . }}" rel="tag">{{ . }}</a> {{end}}
                        </p>
                    </div>
                    <hr />
                    {{ end}}
                                        
                    <div class="clear"></div>
                    <div class="nav-interior">
                        <div class="prev"></div>
                        <div class="next"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span-8 last">
                <div id="sidebar">
                    <div class="item">
                        <h3 class="sub">Tags</h3>
                        {{ partial "tags.html" . }}
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        
    </div>
    {{ partial "footer.html" .}}

        <script type="ce321d7400717018bf153d5c-text/javascript" src="{{"/js/jquery.form.min.js" | relURL }}"></script>
        <script type="ce321d7400717018bf153d5c-text/javascript" src="{{"/js/scripts.js" | relURL }}"></script>
        <script type="ce321d7400717018bf153d5c-text/javascript" src="{{"/js/wp-embed.min.js" | relURL }}"></script>

        <script src="{{"/js/rocket-loader.min.js" | relURL }}" data-cf-settings="ce321d7400717018bf153d5c-|49" defer="">
        </script>
</body>

</html>